<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="description" content="CU-me lets you create a CUNY class schedule with ease. Search for classes with RateMyProfessors ratings, add them to your schedule, view classes you still need to take to graduate, and more. Enjoy!">
  <meta name="author" content="Maximilian Ioffe">
   
  <meta property="og:title" content="CU-me CUNY scheduling made simple."/>
  <meta property="og:url" content="http://cufor.me"/>
  <meta property="og:site_name" content="CU-me"/>
  <meta property="og:type" content="website" />
  <meta property="og:description" content="CU-me lets you create a CUNY class schedule with ease. Search for classes with RateMyProfessors ratings, add them to your schedule, view classes you still need to take to graduate, and more. Enjoy!" />

  <link rel="icon" type="image/png" href="{% static 'schedule/img/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'schedule/img/favicon-16x16.png' %}" sizes="16x16">
  <meta name="theme-color" content="#FFFFFF">

  <link rel="stylesheet" type="text/css" href="{%static 'schedule/pure-min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'schedule/base.css' %}" />
  <script type="text/javascript" src="{% static 'schedule/js/jquery-3.1.1.min.js' %}"></script>
  {% block style %}
  {% endblock %}
  <title>{% block title %}CU-me :){% endblock %}</title>
</head>

<body>
  {% block content %}
  {% endblock %}
</body>
</html>
